body{
    background-color: bisque;
}
h1{
    color: aquamarine;
}
h2{
    color:antiquewhite;
}
h3{
    color: blue;
}
h4{
    color: yellowgreen;
}
h5{
    color: burlywood;
}
h6{
    color:violet;
}